<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome</title>
<link href = "/css/bootstrap.min.css" rel="stylesheet">
<link href = "/ocss/style.css" rel="stylesheet">
</head>

<body class="text-center">
	<div class="jumbotron">
		<div class="col-xs-12">
	       		 <div class="header">
	          		<nav class="nav nav-masthead justify-content-center">
			            <a class="nav-link active" href="#">Home</a>
			            <a class="nav-link" href="#">Features</a>
			            <a class="nav-link" href="#">Contact</a>
	          		</nav>
        		</div>
        		
			<div class="main" >
		        <h1 class="cover-heading"><span class="text-muted">PORTFOLIO</span></h1>
		        		<p class="lead"><span class="text-white">Saki Portfolio web page. Have fun to look around the pages</span></p>
				        <div class="btn-group">
				        <button class="btn btn-lg btn-secondary"  type="submit"> Q & A </button>
		        		</div>
      		</div>
    	</div><!-- col-xs-12 -->
    	<div class="container" style="padding-top:50px;">
    		<label class="colxs-1" >
		      <p class="text-muted">Thank you</p>
		      <p class="text-white">このページはsaki tazuuraのポートフォリオページです</p>
		     </label> 
    	</div><!-- /.container -->
 	</div><!-- /.jumbotron -->
 	<div class="fotter">
		<footer class="mastfoot mt-auto">
		     <div class="inner">
		       <p><small>Copyright (c) Saki All Rights Reserved.</small></p>
		     </div>
 		</footer>
 	</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>

</body>
</html>